{% extends "base.html" %}
{% set active_page = "HOME" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% endblock %}
{% block title %} Home {% endblock %}


{% block bannerwrapper %}
{% endblock %}
{% block main %}
	<section class='block welcome'>
		<div class='middle'>
			<h1>
				<p>pioneering translational data science</p>
				<p>to advance biology, medicine,  healthcare, and the environment</p>
			</h1>
		</div>
	</section>
	<section class='block midgray'>
		<div><h1>News</h1>
		</div>
		{% set news = [
			{'img':'/static/img/news/careers.png', 
			 'date': '19 April 2016', 
			 'title': 'Join our Team',
			 'article': 'We are looking for data engineers, data scientists, and bioinformaticians to join our team.  We have a range of projects offering opportunities to use your skills on critical initiatives in cancer, genomics, and environmental research. Check out our <a href="http://cdis.uchicago.edu/current-openings.html">current openings</a>.',
			 'link': 'http://cdis.uchicago.edu/current-openings.html'},

			{'img': '/static/img/news/volunteer.png',
			 'date': '16 April 2016',
			 'title': 'Volunteer Opportunities',
			 'article': 'Do you share our passion of using data science to make an impact on important problems? Consider joining our team as a volunteer to contribute in an area of your expertise and fuel your curiousity.  Your generosity and support are critical to delivering on our ambitious mission. <a href="mailto:cdis@uchicago.edu">Send</a> us a letter of interest along with your resume to inquire about current opportunities.',
			 'link': 'http://cdis.uchicago.edu/careers.html'},
			
			{'img': '/static/img/news/mychoice.png',
			 'date': '01 April 2016',
			 'title': 'Summer Internship Openings',
			 'article': 'We have partnered with myCHOICE to provide real-world practical experience beyond academic research for graduate students and postdoctoral trainees. We are offering two CDIS Internships for a Genomic Data Commons Ambassador team and a Data Science User Liaison team during the summer session. <a href="http://www.mychoice.uchicago.edu/#!e3intern/c20ms">Submit</a>  your application by April 22nd!',
			 'link': 'http://www.mychoice.uchicago.edu/#!e3intern/c20ms'},
			
			{'img': '/static/img/news/aacr2016.png',
			 'date': '16 April 2016', 
			 'title': 'AACR Annual Meeting 2016',
			 'article': 'We joined our colleagues at the NCI Center for Cancer Genomics for the American Association for Cancer Research Annual Meeting in New Orleans. They hosted a session on Initiatives to Further Precision Medicine where we talked about the NCI Genomic Data Commons we are building and its role in CCG initiatives. The <a href="http://www.cancer.gov/about-nci/organization/ccg/programs/gdc">NCI Genomic Data Commons</a> will be available to public this June!',
			 'link': 'http://www.aacr.org/Meetings/Pages/MeetingDetail.aspx?EventItemID=63#.VxU1MJMrIUF'},

			
			{'img': '/static/img/news/bioit2016.jpg',
			 'date': '05 April 2016', 
			 'title': 'BioIT World 2016',
			 'article': 'We were in Boston with our fellow industry and academic colleagues at BioIT World talking about our work developing large-scale data commons for genomic and clinical data. The landscape is changing for sharing research data, exemplifying the need for integrating and interoperating in-house genomic and clinical data with public data commons and private data partnerships.',
			'link': 'http://www.bio-itworldexpo.com/'},

			{'img': '/static/img/news/weijenchang.png',
			 'date': '02 Feb 2016', 
			 'title': 'WeiJen Chang appointed as Visiting Scientist',
			 'article': 'WeiJen Chang is an engineer and operations deputy at Academia Sinica Grid Computing Center in Taipei, Taiwan where he is charged with data center operations, software development and software/hardware purchase planning. He was part of the "CernVM File System" and "Distributed Data Management" projects for software development at CERN, which is the tier 0 center of the Large Hadron Collider experiment. He is currently collaborating on the Biomedical Data Commons Technical Pilot at CDIS.'},
			 ] 
		%}
		{% set news_number = news|length %}
		{% set slide_number = (news_number/3)|round(0,'ceil')|int %}
		<input checked type="radio" name="slider" id="slide0">

		{% for n in range(1,slide_number) %}
		<input type="radio" name="slider" id="slide{{n}}">
		{% endfor %}
		<div class="wrapper">
			
			<div class='news'>

				{% for item in news %}
				<section>
					<div>
						<div class="img-wrapper">
							{% if item.link %}
							<a target='_blank' href="{{item.link}}">
							<img src="{{item.img}}">
							</a>
							{% else %}
							<img src="{{item.img}}">
							{% endif %}
						</div>
						<article>
							<p class='date'>{{item.date}}</p>
							<h3>{{item.title}}</h3>
							<p>{{item.article}}</p>
						</article>
					</div>
				</section>
				{% endfor %}
			</div>
		</div>
		<style type="text/css">
		.news {
			width: {{100/3*news_number}}%;
		}
		.news >section {
			width:{{100/news_number}}%;
		}
		</style>
		<div id="active">
			{% for n in range(slide_number) %}
			<label class='slide{{n}} left' for="slide{{(n+1)%slide_number}}"><p><</p></label>
			<label class='slide{{n}} right' for="slide{{(n+1)%slide_number}}"><p>></p></label>
			{% endfor %}
		</div>
		<div id="controls">
			{% for n in range(slide_number) %}
			<label for="slide{{n}}"></label>
			{% endfor %}
		</div>
	</section>
	<section class='dark block'>
		<div class='featured-projects wrapper'>
		<div>
		</div>
			<section>
				<a href="/technology.html" class='circle'>
					<p class="icon-share"></p>
					<p>Technology</p>
				</a>
				
			</section>
			<section>
				<a href="/research.html" class='circle'>
					<p class="icon-lab"></p>
					<p>Research</p>
				</a>
			</section>
			<section>
				<a href="/careers.html" class='circle'>
					<p class="icon-user-tie"></p>
					<p>Careers</p>
				</a>
			</section>
		</div>
	</section>
</div>
<style type="text/css">
{% for n in range(slide_number) %}
#slide{{n}}:checked ~ #active label.slide{{n}}{
	display: table;
}
#slide{{n}}:checked ~ #controls label:nth-child({{n+1}}){
	background: #333;
	border-color: #333 !important;
}
#slide{{n}}:checked ~ .wrapper .news { margin-left:-{{100*n}}%; }
{% endfor %}
</style>
{% endblock %}
