{% extends "base.html" %}
{% block title %} Careers {% endblock %}
{% set active_page = "CAREERS" %}
{% if not sub_active_page %}
	{% set sub_active_page='Careers' %}
{% endif %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/research.css">
{% endblock %}
{% block main %}

	<section class='block'>
		{% block sidebar %}
		<section class='sidebar'>
				<ul>
				{% set nav_bar = [
					('/careers.html','Join our Team'),
					('#current openings','Current Openings'),
					('#volunteer opportunities','Volunteer Opportunities'),
					('#student openings','Student and Trainee Openings'),
					('#benefits','Benefits'),
					('#contact','Contact Us'),

					] %}
				{% for href, caption in nav_bar %}
				<li><a href="{{href}}" {% if caption == sub_active_page %} class='active' {% endif %}>{{caption}}</a></li>
				{% endfor %}
				</ul>
		</section>
		{% endblock %}
		<section class='main-block'>
		{% block mainblock %}
			<section id='Join our Team'>
				<div>
					<h2>Join our Team</h2>
				</div>
				<article>
					We're a dedicated team of researchers and engineers drawing from different backgrounds and ideas to push the boundaries of data intensive science. Our mission is to pioneer translational data intensive science to advance biology, medicine, healthcare, and the environment. Our research interests include data commons, bioinformatics, high performance analytics, virtualized infrastructure, and pipelines for large-scale data analysis.  We work closely with researchers at the University of Chicago and others around the world to pursue discovery and make an impact on society.
				</article>
			</section>
			<section id='Current Openings'>
				<div>
					<h2>Current Openings</h2>
				</div>
				<article>
					View our current staff job openings and apply with the requisition number at <a href="https://jobopportunities.uchicago.edu">UChicago Jobs</a>.
					<ul class='items'
						<li>
							<p>	
								<h2>Senior Bioinformatician</h2>
								<p class='desc'>Requisition# 099991. The Bioinformatician will design and implement bioinformatics services for faculty for projects in the Center for Data Intensive Science. The Bioinfomatician will work on developing pipelines for this project, including support for high-throughput genomic technologies.  </p>
								<a class='button' target='_blank' href='jobopportunities.uchicago.edu/applicants/Central?quickFind=230721'>Apply at UChicago Jobs</a>
							</p>
						</li>
						<li>
							<p><h2>Technical Support Engineer</h2>
							<p class='desc'>Join our product support team dedicated to the launch of the Genomic Data Commons, one of the world’s largest storage and distribution system for cancer genomics.</p>
							<a class='button' href="/static/pdf/TechnicalSupportEngineer.pdf">Detail</a>
							<a class='button' target='_blank' href='jobopportunities.uchicago.edu/applicants/Central?quickFind=230966'>Apply at UChicago Jobs</a>
						</p>
						</li>
						<li>
							<p><h2>Software Engineer</h2></p>
							<p class='desc'>Coming soon</p>
						</li>
						<li>
							<p>Information Security Analyst</p>
							<p class='desc'>Coming soon</p>
						</li>
						<li>
							<p>Software Engineer in Test</p>
							<p class='desc'>Coming soon</p>
						</li>
					</ul>
				</article>
			</section>
			<section id='Volunteer Opportunities'>
				<div>
					<h2>Volunteer Opportunities</h2>
				</div>
				<article>
					Do you share our passion of using data science to make an impact on important problems? Consider joining our team as a volunteer to contribute in an area of your expertise and fuel your curiousity. Your generosity and support are critical to delivering on our ambitious mission.
					<p>Send a letter of interest to <a href="mailto:cdis-jobs@lists.uchicago.edu">cdis-jobs@lists.uchicago.edu</a>. 
				</article>
			</section>
			<section id='Student and Trainee Openings'>
				<div>
					<h2>Student and Trainee Openings</h2>
				</div>
				<article>
					<ul class='items'
						<li>
							<p>	
								<h2>Postdoctoral Scholar</h2>
								<p class='desc'>Send a letter of interest to <a href="mailto:cdis-postdocs@lists.uchicago.edu">cdis-postdocs@lists.uchicago.edu</a></p>
							</p>
						</li>
						<li>
							<p><h2>Student Programmer</h2>
							<p class='desc'>Send a letter of interest to <a href="mailto:cdis-jobs@lists.uchicago.edu">cdis-jobs@lists.uchicago.edu</a>
						</p>
						</li>
				</article>
			</section>
			<section id='Benefits'>
				<div>
					<h2>Benefits</h2>
				</div>
				<article>
					<div class='block'>
						<p>Health & Welfare Benefits</p>
						<ul class='bullets'>
							<li>5 Medical Plans</li>
							<li>2 Dental Plans</li>
							<li>Vision Plan</li>
							<li>Healthcare Flexible Spending</li>
							<li>Health Savings Account</li>
							<li>Life and Disability Insurance</li>
							<li>Long Term Care Insurance</li>
							<li>On-Site Childcare Program</li>
							<li>Staff and Faculty Assistance Program</li>
							<li>Adoption Assistance Program</li>
							<li>Childcare Referral Services</li>
							<li>Elder Care Referral Service</li>
							<li>Retiree Medical Insurance</li>						
						</ul>
					</div>
					<div class='block'>
						<p> Tuition Benefits</p>
						<ul class='bullets'>
							<li>Professional Development</li>
							<li>Staff Education Assistance Program</li>
							<li>Dependent Children Education Assistance Program</li>
						</ul>
					</div>
					<div class='block'>
						<p>Retirement & Financial Benefits</p>
						<ul class='bullets'>
							<li>Retirement Income Program</li>
							<li>Supplemental Retirement Program</li>
							<li>Staff Pension Plan</li>
							<li>Employer-Assisted Housing Program</li>
							<li>Dependent Care Flexible Spending</li>
							<li>Qualified Transportation Benefits</li>
							<li>Perks and Discounts</li>
						</ul>
					</div>
					<div class='block'>
						<p>Vacation, Holidays & Time Off Benefits</p>
						<ul class='bullets'>
							<li>8 Paid Holidays</li>
							<li>15 Vacation Days</li>
							<li>5 Personal Holidays</li>
							<li>10 Sick Days</li>
							<li>Leave of Absence Programs</li>
							<li>Short & Long Term Disability</li>
						</ul>
					</div>
					<p class='comment'>The University of Chicago is an Affirmative Action / Equal Opportunity / Disabled / Veterans Employer.</p>
				</article>
			</section>
			<section id='Contact Us'>
				<div>
					<h2>Contact Us</h2>
				</div>
				<article>
					<p>
						For questions about our open positions, contact us at <a href="mailto:cdis-jobs@lists.uchicago.edu">cdis-jobs@lists.uchicago.edu. </a 
					</p>	
				</article>
			</section>
		{% endblock %}
		</section>
	</section>
	

{% endblock %}